/**************
** DnD rules **
**************/
.Pete_draggable {
  cursor: pointer;
}
.Pete_dragging {
  border: 1px dashed #000 !important;
  display: none;
  margin: 0;
  opacity: .5;
  position: absolute;
}
.Pete_overDropZone {
  background: #ADD8E6 !important;
  border: 1px solid #000 !important;
  font-weight: bold;
}
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

